:root {
  --primary-base: #0000EE;
  --primary-dark: #394053;
  --primary-light: #45C6D4;
  --secondary-base: #E3E5E9;
  --secondary-dark: #333333;
  --secondary-light: #F8F8F8;
  --primary-text: #fff;
  --secondary-text: #394053;
  --spacing-small: 4px;
  --spacing-large:16px;
  --spacing-base: 8px;
}

* {
  box-sizing: border-box;
}
html, body {
  margin:0px;
  padding:0px;
  height:100%;
  font-family: Arial, Helvetica, sans-serif;
}

.horizontal {
  display:flex;
  flex-direction: column;
  width:100%;
  height:100%;
}

.vertical {
  display:flex;
  flex-direction: row;
  width:100%;
  height:100%;
}

section {
  background-color: var(--primary-light);
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size:32px;
  font-weight: bold;
}

.menu {
  display: flex;
  flex-direction: row;
  position: relative;
  gap: 30px;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--primary-dark);
  box-shadow: 5px 2px 2px 8px var(--primary-dark);
  height: 40px;
}

.menu-item::after{
  border: solid var(--primary-text);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu-item, a{
  color: var(--primary-text);
}

.submenu-container{
  display: none;
  position: absolute;
  top: 50px;
  background-color: var(--secondary-base);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.submenu-container .menu-item, .submenu-container a{
  color: var(--secondary-text);
}

.menu-item:hover .submenu-container{
  display: flex;
  flex-direction: column;
}